.header{
   background-image: url(../images/mobile/image-header.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height: 750px;
   @import './navbar';
}
