.header{
   background-image: url(../images/mobile/image-header.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   min-height: 750px;
   justify-content: flex-start;
   gap: 3em;
   @import './navbar';
   .title{
      margin-top: 1em;
   }
   .arrow{
      margin: 0 auto;
      height: 100px;
      width: 30px;
   }
   
}
@media only screen and (min-width: 800px){
   .header{
      background-image: url(../images/desktop/image-header.jpg);
      min-height: 800px;
      background-size: contain cover;
      background-position: top center;
      gap: 5em;
   }
}
