#section-1{
   flex-direction: column-reverse;
   article{
      display: flex;
      flex-direction: column;
      gap: 2.5em;
      padding: 6rem 2em;
      .section-link{
         span{
            position: relative;
            z-index: 1;
            &::after{
            content: "";
            display: block;
            position: absolute;
            @include color-opacity($clr-Yellow,0.3,background-color);
            left: -8px;
            right: -8px;
            bottom: -1px;
            height: 10px;
            border-radius: 10px;
            z-index: -1;
         }
         }
      }
   }
}
@media only screen and (max-width: 800px){
   #section-1{
      picture img{
         width: 100%;
      }
   }
}
@media only screen and (min-width: 800px){
   #section-1{
      flex-direction: row;
      picture img{
         width: 50vw;
      }
      article{
         padding: 0rem 2em;
         width: 50vw;
         justify-content: center;
         gap: clamp(2rem,1vw,2.5rem);
      }
      p,h2,a{
         display: block;
         margin: 0 auto;
         text-align: left;
         width: 70%;
      }
      h2{
         font-size: clamp(2rem,3vw,2.75rem);
      }
      p{
         font-size: clamp(0.75rem,1vw,1.25rem);
      }

   }
}